<table>
    <tr>
        <th style="color:blue"><h2>CATEGORY</h2></th>
    </tr>
        <td style="font-size:20px"><%= link_to "All", orderings_path %></td>
    <tr>
        <td></td>
    </tr>
    <% @categories.each do |category| %>
    <tr>
        <td style="font-size:20px"><%= link_to category.name, "orderings?category_id=#{category.id}" %></td>
    </tr>
    <% end %>
</table>

<hr></hr>

<h2 style="color:blue">MENU</h2>
  <ul>
      <% @menus.each do |menu| %>
        <li style="font-size:20px"><%= menu.food_name %> - <%= menu.price %></li>
      <% end %>
  </ul>
    
    
   








